<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
    <filter>
    <filter-name>SecurityFilter</filter-name>
    <filter-class>com.cdc.sys.filter.SecurityFilter</filter-class>
    <init-param>
      <param-name>forwardKey</param-name>
      <param-value>SCRIPT|ALERT|WINDOW|CATCH</param-value>
    </init-param>
    <init-param>
      <param-name>forward</param-name>
      <param-value>/security.html</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>SecurityFilter</filter-name>
    <url-pattern>*.swf</url-pattern>
  </filter-mapping>
  <session-config>
    <session-timeout>120</session-timeout>
  </session-config>
  <error-page>
    <error-code>400</error-code>
    <location>/public/error/400.html</location>
  </error-page>
  <error-page>
    <error-code>401</error-code>
    <location>/public/error/401.html</location>
  </error-page>
  <error-page>
    <error-code>403</error-code>
    <location>/public/error/403.html</location>
  </error-page>
  <error-page>
    <error-code>404</error-code>
    <location>/public/error/404.html</location>
  </error-page>
  <error-page>
    <error-code>500</error-code>
    <location>/public/error/500.html</location>
  </error-page>
</web-app>