.reset_01{ height:105px; margin:18px 0; background:url(../images/new/reset_bj01.gif) no-repeat right;}
.reset_01 ul{ height:93px; background:url(../images/new/reset_bj02.gif) no-repeat left; display:block; line-height:26px; padding-top:12px; padding-left:20px;}
.reset_01 ul li{ background:url(../images/new/red_d.gif) no-repeat left center; padding-left:18px;}

.reset_k01{ width:412px; background:url(../images/new/reset_k2.gif) no-repeat bottom; margin-bottom:18px;}
.reset_k_top{ height:35px; line-height:35px; background:url(../images/new/reset_k1.gif) no-repeat; color:#0062a0; padding-left:12px; font-weight:bold;}
.reset_tab01{ width:86%; margin:0 auto; margin-top:12px;}
.reset_tab01 td{ height:40px;}
.reset_tab01 th{ text-align:left; height:40px;}
.jygl_text01{ height:20px; line-height:20px;font-family:"微软雅黑"; width:60%; border:#a6b4b9 1px solid; font-size:12px;}
.reset_btn01{ background:url(../images/new/search_new.gif) no-repeat; width:85px; height:24px; border:none; cursor:pointer;}
.reset_p{ height:40px; color:#ff6600; padding-left:30px;}




