body {font-family:"微软雅黑", arial;margin:0;padding:0;font-size:12px; color:#57595d; background:#FFF;}
div,form,img,ul,ol,li,dl,dt,dd {margin: 0; padding: 0; border: 0;}
h1,h2,h3,h4,h5,h6,p{ margin:0; padding:0; font-style:normal;}
table,td,tr,th{font-size:12px;}
ul,li{margin:0; padding:0; list-style:none;}
em,i{ font-style:normal;}

a:link {text-decoration:none; color:#57595d;}
a:visited {text-decoration:none; color:#57595d;}
a:hover {text-decoration:none;color: #005bab; text-decoration:underline;}
a:active {text-decoration:none;}

/*弹出框开始*/
.tang_a01{ width:650px; height:360px; position: relative; top:100px; margin:0 auto; background:url(/SRMC/rmpb/images/tang01.png) no-repeat;}
.tang_a01_top{ height:48px; line-height:48px; padding-top:34px; font-size:16px; text-align:center; color:#169ECD;}
.tang_xx{ width:23px; height:23px; position:absolute; top:5px; right:3px; cursor:pointer;}
.tang_font01{ width:450px; margin:5px auto; font-size:13px; line-height:30px; padding-top:5px; padding-bottom:15px;border-bottom:0px solid #F7E3CB;word-spacing:4px;}
.tang_font02{ width:630px; margin:5px auto;text-align:center;}
.tang_gg01{ width:103px; height:34px; background:url(/SRMC/rmpb/images/tang_bnt01.png) no-repeat; border:none;  cursor:pointer; margin-top:6px;}


.line{width:460px;height:5px;margin:0 auto;}
.publish{margin:0 auto;text-align:center;line-height:35px;font-size:12px;}
