body {font-family:"微软雅黑", arial;margin:0;padding:0;font-size:12px; color:#000; background:#FFF;height:770px;width:100%;overflow:auto;}
div,form,img,ul,ol,li,dl,dt,dd {margin: 0; padding: 0; border: 0;}
h1,h2,h3,h4,h5,h6,p{ margin:0; padding:0; font-style:normal;}
table,td,tr,th{font-size:12px;}
ul,li{margin:0; padding:0; list-style:none;}
em,i{ font-style:normal;}

a:link {text-decoration:none; color:#43698a;}
a:visited {text-decoration:none; color:#43698a;}
a:hover {text-decoration:none;color: #005bab; text-decoration:underline;}
a:active {text-decoration:none;}

.ge01{ clear:both; height:16px; overflow:hidden;}

/*login*/
.login_bj{ background:#f4f5f6 url(/SRMC/rmpb/images/login/dl_bj.gif) repeat-x top;}
.login_main{ height:672px; background:url(/SRMC/rmpb/images/login/yf_bj.jpg) no-repeat top center;width:1366px;margin:0 auto;}
.login_main_c{ width:1000px; margin:0 auto; height:672px; overflow:hidden;} 
.login_main_c_a{ width:192px; height:37px; padding-left:143px; padding-top:258px;}
.login_text_a01{ height:18px; line-height:18px; color:#43698a; width:180px; margin-top:6px; border:none; background:none; font-family:"微软雅黑"; font-size:14px;text-shadow:0 1px 0 #a9ddf1;}
.login_main_c_b{ width:192px; height:37px; padding-left:143px; padding-top:14px;}
.login_main_c_c{ height:36px; margin-top:16px; width:/* 248px */258px; padding-left:88px; font-size:14px;text-shadow:0 1px 0 #a9ddf1; color:#43698a;}

/*checkbox*/
.prettycheckbox a{width:20px;height:20px;display:inline;float:left; cursor:pointer;background: url(/SRMC/rmpb/images/login/bnt_aaa01.png) no-repeat;overflow:hidden; vertical-align:top;}
.prettycheckbox a.checked{background: url(/SRMC/rmpb/images/login/bnt_aaa02.png) no-repeat;}

.login_main_c_d{width:248px; padding-left:88px; font-size:14px;text-shadow:0 1px 0 #a9ddf1; color:#43698a;}
.login_text_a02{ width:149px; height:44px; background:url(/SRMC/rmpb/images/login/bnt_dl.gif) no-repeat; border:none; cursor:pointer; float:left;}
.login_main_c_d p{ float:right; padding-top:20px; width:80px;}

.login_bottom{ height:71px; line-height:71px; text-align:center; margin-top:25px; color:#717273;}


