@charset "utf-8";
/* CSS Document */
*{font-family: Microsoft Yahei;padding:0; margin:0; outline:none;}
 html {font-size: 62.5%;}
@media only screen and (min-width: 481px){
html {font-size: 94%!important;}}
@media only screen and (min-width: 561px){
html {font-size: 109%!important;}}
@media only screen and (min-width: 641px){
html {font-size: 125%!important;}}
@media only screen and (min-height: 640px){
.letters li {line-height:1.7rem !important; font-size:1.3rem !important;}}
@media only screen and (min-height: 720px){
.letters li {line-height:1.9rem !important; font-size:1.6rem !important;}}
body{font-size:12px;font-size:1.2rem;font-family: "Microsoft Yahei";}

li {list-style-type:none;}
a {text-decoration:none;}

.border_no {border:none !important}
.top { width:100%; position:fixed; z-index:10; background:#76ceff; font-size:1.8rem; color:#ffffff; line-height:4.8rem; letter-spacing:0.1rem;}
.top_false {width:100%;height:4.7rem;}
.top_li { width:0.8rem; height:1.2rem;position:absolute; left:6%; top:1.8rem; background:url(../images/icon_01.png) center no-repeat; background-size:cover}
.data_fill { width:100%; height:100%; position:absolute;background-color:#eeeeee;}
.top2 { width:100%; height:44%; padding-top:22%; background-color:#76cdff;}
.top2 img { width:10rem; height:10rem; display:block;margin:0 auto}
.top2 p { color:#ffffff; font-size:1.5rem; text-align:center; line-height:2.6rem}
.top2 .title {font-size:1.8rem; margin-top:1rem}
.top3 { width:72%; height:15%; background-color:#76cdff; padding:0% 14% 0 14%;}
.top3 img{ width:100%; display:block;}
.cen { text-align:center;}
.QRC {width:18rem; height:22rem; position:absolute; top:50%; margin-top:-12rem; left:50%; margin-left:-9rem}
.QRC img { width:18rem; height:18rem;}
.QRC p { font-size:1.42rem;color:#76ceff; text-align:center; line-height:4rem}
.wait { width:18rem; height:10rem; position:absolute; top:50%; margin-top:-6rem;left:50%; margin-left:-9rem}
.wait img {width:5.4rem; height:6rem;position:absolute;left:50%; margin-left:-2.2rem}
.wait p {font-size:1.8rem; text-align:center; margin-top:6.6rem; color:#333333}
.submit { width:88%; padding:1rem 6%; margin-top:1rem; background-color:#ffffff;}
.submit li { width:33.3%; float:left; margin:.8rem 0; }
.submit img { width:7rem; height:7rem; display:block;margin:0 auto}
.but_A {width:82%; margin: 0 auto;}
.but1, .but2{width:100%; line-height:3.6rem;border:1px solid #76cdff; border-radius:.4rem; margin-top:1rem; font-size:1.5rem}
.but1 { background-color:#76cdff; color:#ffffff}
.but2 { background-color:#ffffff; color:#76cdff}
.data_A { margin-top:1rem;background-color:#ffffff;width:82%;padding:0 9%}
.data1 {width:100%; height:3.6rem; border-bottom:1px solid #eeeeee; font-size:1.4rem; position:relative;}
.data1 span {
	color: #333333;
	line-height: 3.6rem;
}
.data1 input {width:60%; height:2rem; border:none;font-size:1.4rem; margin-left:.6rem;}
.code1 {color:#76ceff; background-color:#ffffff; border:1px solid #76cdff; position:absolute; right:0; top:.7rem; font-size:1rem; padding:.3rem .8rem; border-radius:.4rem}
.data2 {width:100%; height:2.5rem; border-bottom:1px solid #eeeeee; font-size:1.4rem;padding-top:1.1rem}
.data2 span {color:#333333; float:left;}
.shenglue{
 width:5em;
 overflow: hidden; 
 text-overflow: ellipsis;
 white-space:nowrap; 
}