<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:jaxws="http://cxf.apache.org/jaxws"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
                       http://www.springframework.org/schema/beans/spring-beans.xsd
                       http://cxf.apache.org/jaxws http://cxf.apache.org/schemas/jaxws.xsd">

   <!--  <bean id="client" class="cxfdemo.client.HelloWorld" factory-bean="clientFactory" factory-method="create" />

    <bean id="clientFactory" class="org.apache.cxf.jaxws.JaxWsProxyFactoryBean">
        <property name="serviceClass" value="cxfdemo.client.HelloWorld" />
        <property name="address" value="http://localhost:8080/rmpb/webservice/helloworld" />
    </bean> -->
    
    
   <bean id="clientPasswordCallback" class="cxfdemo.client.ClientPasswordCallback"/> 
     <jaxws:client id="client"  
        address="http://localhost:8080/rmpb/webservice/helloworld"  
        serviceClass="cxfdemo.client.HelloWorld">  
        <jaxws:outInterceptors>  
            <bean class="org.apache.cxf.interceptor.LoggingOutInterceptor" />  
            <!-- SAAJInInterceptor只在CXF是2.0.X版本时或之前版本时才是必须的 -->  
            <!-- <bean class="org.apache.cxf.binding.soap.saaj.SAAJInInterceptor"/> -->  
            <bean class="org.apache.cxf.ws.security.wss4j.WSS4JOutInterceptor">  
                <constructor-arg>  
                    <map>  
                        <entry key="action" value="UsernameToken" />  
                        <entry key="passwordType" value="PasswordText" />  
                        <entry key="user" value="FHDClient" />  
                       <entry key="passwordCallbackRef">  
                            <ref bean="clientPasswordCallback" />  
                        </entry> 
                    </map>  
                </constructor-arg>  
            </bean>  
        </jaxws:outInterceptors>  
    </jaxws:client>  
</beans>